$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);
$spacing: (
  "0": 0,
  \-\-: 6px,
  \-: 13px,
  "": 27px,
  \+: 54px,
  \+\+: 81px,
  "a": auto
);
// Build Utility classes for size/spacing
@for $i from 1 through 10 {
  .width--#{$i * 10}pc {
    width: #{$i * 10}#{"%"};
  }
}
@for $i from 0 to 100 {
  .width--#{$i * 10} {
    width: #{$i * 10}px;
  }
  .max-width--#{$i * 10} {
    max-width: #{$i * 10}px;
  }
  .height--#{$i * 10} {
    height: #{$i * 10}px;
  }
  .max-height--#{$i * 10} {
    max-height: #{$i * 10}px;
  }
}
@each $sizename, $size in $spacing {
  .m#{$sizename} {
    margin: $size;
  }
  .p#{$sizename} {
    padding: $size;
  }
  .pv#{$sizename} {
    padding-top: $size;
    padding-bottom: $size;
  }
  .ph#{$sizename} {
    padding-left: $size;
    padding-right: $size;
  }
  .mv#{$sizename} {
    margin-top: $size;
    margin-bottom: $size;
  }
  .mh#{$sizename} {
    margin-left: $size;
    margin-right: $size;
  }
  @each $dir, $dirname in $directions {
    .m#{$dir}#{$sizename} {
      margin-#{$dirname}: $size;
    }
    .p#{$dir}#{$sizename} {
      padding-#{$dirname}: $size;
    }
  }
}
@for $i from 0 to 10 {
  .bo--#{$i} {
    border-width: #{$i}px;
  }
  @each $slug, $name in $directions {
    .bo-#{$slug}--#{$i} {
      border-#{$name}-width: #{$i}px;
    }
  }
}
